
@takeda-digital:registry = https://takedaazuseast.jfrog.io/artifactory/api/npm/exp-npm-local/
//takedaazuseast.jfrog.io/artifactory/api/npm/exp-npm-local/:_auth=YW5kcmV3LnJvc3NAdGFrZWRhLmNvbTpBS0NwOG1aVDlnenpoVzlGaGczeEg1R0M3OUdmNlB5NGl6dGNKNlJhUjNLeUprcmtvWjE5M3pIYldya3pkWlJBNTR1cUZ5OEE4
